@charset "UTF-8";

html {
    font-size: 100%;
}
a {
    /* <a>タグの傍線の指定 */
    text-decoration: none;
}
body {
    /* 書体の指定 */
    font-family: "hiragino Kaku Gothic ProN","Hiragino Sans","BIZ UDPGothic",sans-serif;
    /* 行の高さ */
    line-height: 1.7;
    color: #432;
    font-family: sans-serif;
}
/* 上のバー */
.font-english{
    /* フォント：フィロソファー */
    font-family: "Philosopher",sans-serif;
    font-weight: bold;
    background-color:chartreuse;
}
/* 見出し */
.textmida {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4em;
  margin-top: 2rem;
  background:#ceff9a;
  padding: 0.25rem;
}
.text-background {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.4em;
  margin-top: 2rem;
  background:#ceff9a;
}
/* レイアウト */
.wrapper {
    max-width: 1120px;
    margin: auto;
    padding: 0 1.5rem;
}
.align-center {
    text-align: center;
}
.page-header{
    padding-top: .5rem;
}
/* ヘッダーカバー画像 */
.logo{
    /* ロゴの横幅の指定 */
    width: 100px;
}
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
    margin-bottom: 2rem;
}
.cover-tuki {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
    margin-bottom: 200px;
}
.cover-home {
    background-image:url(images/ine.jpg);
    height: 200px;
}
/* ヘッダー */
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 2rem;
    list-style: none;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd;
}
.page-header{
    padding-top: .5rem;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
  color: #333;
}

.card-container {
  display:flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color:#EFEFEF;
  padding:2rem;
}

.card {
  margin-top: 2rem;
  position: relative;
  width: 250px;
  height: 160px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(255,255,255,0.8);
  padding: 8px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  color: #333;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #ddd;
}
/* イベント情報 --------------------------------------------
---------------------------------------------------------*/
/* .event-shu {
  margin-top: 20px;
} */
.grid {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin-top: 2rem;
    background-color:#EFEFEF;
    padding: 2rem;
}
.item img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
    height: 200px;
    width: 250px;
}
.item p {
    font-size: .875rem;
}
.event-name {
  font-size: .875rem;
  padding: 10px; 
  margin-bottom: 10px; 
  border: 1px solid #333333;
}
.search {
  font-size: 1.5rem;
}
/* ボタン */
.btn {
    /* 余白を含めたサイズを認識させるための記述 */
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    /* 角を丸めるプロパティ */
    border-radius: 8px;
    padding: .75rem 1.5rem;
    /* transition: .5s; */
    transition: .5s;
    margin-left:40px;
    margin-bottom:20px;
}
/* ボタンにカーソルを重ねた時に適用される色 */
.btn:hover {
    background-color: #0090aa;
    /* color: #ff0000; */
    /* scale: 1.2; 縦横拡大する*/
    /* rotate: -5deg; 右斜め上に5度回転*/
    translate: 10px -12px;
}
.two-btn {
  display: flex;
  margin-top: 2rem;
  margin-left:30%;
}
.item {
  margin: left 2rem;;
}
.br {
  margin: 2rem;
}
/* 月別イベント情報 -------------------------*/
.tuki-btn {
  display: flex;
  margin-top: 2rem;
  margin-left:300px;
}
/* ボタン */
.btntu {
    /* 余白を含めたサイズを認識させるための記述 */
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    /* 角を丸めるプロパティ */
    border-radius: 8px;
    padding: .75rem 1.5rem;
    /* transition: .5s; */
    transition: .5s;
    margin: 20px;
}
/* ボタンにカーソルを重ねた時に適用される色 */
.btntu:hover {
    background-color: #0090aa;
    /* color: #ff0000; */
    /* scale: 1.2; 縦横拡大する*/
    /* rotate: -5deg; 右斜め上に5度回転*/
    translate: 10px -12px;
}
/* SNS ---------------------------------------------
--------------------------------*/
/* アイコン */
.circle {
    background-image: url("images/uma.png");  /* 表示する画像 */
    width:  50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;  /* 横長画像の左上を基準に表示 */
}
.migi {
  text-align: right;
  margin-top: 4rem;
}

/* 右の三つのボタン */
.three-btn {
  text-align: center;/*03-10*/
  position: fixed;
  right:0;
  z-index: 1;
  bottom: 200px;
}
.icon {
  text-align: center;
  width: 30px;
  height: 30px;
}
/* ボタンsns */
.btnsns {
    /* 余白を含めたサイズを認識させるための記述 */
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    /* 角を丸めるプロパティ */
    border-radius: 8px;
    padding-top: 15px;
    /* transition: .5s; */
    transition: .5s;
    margin: 10px;
    width:55px;
    height: 55px;
}
.btnsns:hover {
    background-color: #0090aa;
    /* color: #ff0000; */
    /* scale: 1.2; 縦横拡大する*/
    /* rotate: -5deg; 右斜め上に5度回転*/
    /* translate: 10px -12px; */
}

/* パネルの基本スタイル */
    .slide-panel {
      position: fixed;
      bottom:0;
      right: -500px; /* 初期状態は画面外に */
      width: 500px;
      height: 88%;
      background-color: #f8f8f8;
      box-shadow: -2px 0 5px rgba(0,0,0,0.3);
      transition: right 0.3s ease;
      padding: 20px;
      border-radius: 15px; /* 角を丸くする */
      z-index: 9999;/*最前面*/
      overflow-y: auto;
    }

    /* 表示状態のクラス */
    .slide-panel.open {
      right: 0;
    }
    .close-btn {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 5px 10px;
      font-size: 50px;
    }

/* SNS主画面 */
.gridsns {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    margin-top: 1rem;
    background-color:#EFEFEF;
    padding: 2rem;
}
.itemsns img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 16px;
    height: 360px;
    width: 480px;
}
.itemsns p {
    font-size: 1rem;
}
/* お気に入りボタン */
.favoicon img{
  height: 50px;
  width: 50px;
  margin-left: auto;
  display:block;
}
/* 検索ページ */
 #searchInput {
      padding: 8px;
      width: 300px;
      font-size: 16px;
  }
 ul {
      display: flex;
      list-style: none; /* マーカーを消す */
      padding: 0;
      flex-wrap: wrap;
}

li {
  font-size: 20px;
  margin-right: 20px; /* 項目の間隔 */
  margin-top: 20px;
}
/* postページ */
.postgazo {
  height: 60px;
  width: 80px;
  margin-top: 2rem;
}
.btngazo {
    /* 余白を含めたサイズを認識させるための記述 */
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    /* 角を丸めるプロパティ */
    border-radius: 8px;
    padding-top: 15px;
    /* transition: .5s; */
    transition: .5s;
    margin: 10px;
    width:55px;
    height: 55px;
}

.post-img {
  display: flex;
  margin: 1rem;
}
.gazohyozi {
  margin-left: 2rem;
  padding: 2rem;
  margin-left: auto;
  border: 1px solid #000;
  border-radius: 20px;
}
#nyuryoInput {
    padding: 8px;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 100px;
    font-size: 16px;
    border-radius: 10px;
}
.cancel-btn,.touko {
  border: 2px solid #000;
  border-radius: auto;
  font-size: 20px;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1rem;
}
.touko {
  background-color:darkviolet;
}
.post-twobtn {
  display:flex;
}
/* お気に入りページ */
.favoside {
  margin-top: 2rem;
}
.itemfavo img {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
    height: 200px;
    width: 400px;
}
.itemsns p {
    font-size: 1rem;
}
.favo img{
  height: 40px;
  width: 40px;
  margin-left: auto;
  display:block;
}
/* サイドパネル */
.mida {
  text-align: left;
}
/* ポイント＆クーポンキャンペーン--------------------------
------------------------------------------------------------------------- */
/* 画像 */
.pointcard {
  width:600px;
  height:300px;
  text-align: center;
}
.QR {
  width:300px;
  height:300px;
  text-align:center;
}
.barcode {
  width: 300px;
  height:100px;
  margin-right: 100px;
}
.gridku {
    display: grid;
    gap:.5rem;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    margin-top: .5rem;
    margin-left:40%;
}
/* ボタンsns */
.btnku {
    /* 余白を含めたサイズを認識させるための記述 */
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    /* 角を丸めるプロパティ */
    border-radius: 8px;
    padding-top: 15px;
    /* transition: .5s; */
    transition: .5s;
    margin: 20px;
    size: auto;
}
.btnku:hover {
    background-color: #0090aa;
    /* color: #ff0000; */
    /* scale: 1.2; 縦横拡大する*/
    /* rotate: -5deg; 右斜め上に5度回転*/
    /* translate: 10px -12px; */
}
.ku-btn {
  text-align: center;/*03-10*/
  position: fixed;
  right:0;
  z-index: 1;
  bottom: 200px;
}
/* 背景 */
html,body{
    height: 100%;
}

body{
    background-color:#C0FF5A;
}

.contents{
    height: 100%;
    background-color: #C0FF5A;
}
*{
    margin: 0;
    padding: 0;
}
/* gotoアイコン */
.gotop {
    text-align: center;/*03-10*/
    position: fixed;
    left: 0;
    z-index: 1;
    bottom: 100px;
}
/* クーポンリスト */
.coupon-list {
  display: flex;
  flex-direction: column; /* クーポンを縦に並べる */
  gap: 15px; /* クーポン間のスペース */
  padding: 20px;
}

.coupon-item {
  width: 100%;
  padding: 15px 20px;
  background-color: #f0f0f0; /* クーポンの背景色 */
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1.1em;
  font-weight: bold;
  color: #333;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.coupon-item:hover {
  background-color: #e0e0e0; /* ホバー時の色 */
}